.reveal {
  font-family: "Source Sans Pro", Helvetica, sans-serif;
  font-size: 32px;
  font-weight: normal;
  color: #fff; }

.reveal pre {
  display: block;
  position: relative;
  width: 90%;
  margin: 20px auto;
  text-align: left;
  font-size: 0.45em;
  font-family: monospace;
  line-height: 1.2em;
  word-wrap: break-word;
  box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.3); }

.reveal code {
  font-family: monospace;
  text-transform: none; }

.reveal pre code {
  display: block;
  padding: 5px;
  overflow: auto;
  max-height: 400px;
  word-wrap: normal; }

.reveal h1 {
  font-size: 2.5em; }
.reveal h2 {
  font-size: 1.6em; }
.reveal h3 {
  font-size: 1.3em; }
.reveal h4 {
  font-size: 1em; }

.reveal section img {
  margin: 15px 0px;
  background: rgba(255, 255, 255, 0.12);
  border: none;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
  max-width: 90%;
  max-height: 90%;}
